@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;600&display=swap");

/* Header */
.navbar {
  padding: 0px;
  min-width: 22.5rem;
}

.navbar-collapse {
  padding-right: 3rem;
}

.nav-link p {
  margin: auto;
}

.navbar-brand {
  padding: 0;
  padding-left: 3rem;
}

.container-fluid {
  padding: 0rem;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-brand img {
  max-height: 5rem;
}

.navbar-collapse {
  transition: all 0.5s ease-in-out;
  position: relative;
}

.active-logo-navbar {
  display: none;
}

.desktop-showup {
  font-family: "Anton";
  color: #000000;
  font-size: 2rem;
}

/* Landing Page */
.landing-container {
}

.banner-container {
  background-image: url("https://res.cloudinary.com/do5fnhctm/image/upload/v1687458024/123_1_ghwu2o.png");

  background-repeat: no-repeat;
  background-position: 90% 0%;
  background-size: cover;
  aspect-ratio: 16/3.5;
  min-height: 170px;
  /* height: 18vh; */
  width: 100%;
  min-width: 22.5rem;
  display: flex;
  align-items: center;
}

.banner-text {
  font-family: Anton;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  position: relative;
  left: 2%;
  font-size: 8rem;
}

.banner-text2{
  padding-left: 3%;
}

/* MEDIA MAX WIDTH */

@media (1260px <= width <= 1500px) {
  .banner-text {
    font-size: 7rem;
  }
}

@media (1000px <= width <= 1260px){
  .banner-container {
    background-position: 10%;
  }

  .banner-text {
    font-size: 5.5rem;
  }
}

@media (767px <= width <= 1000px) {
  .banner-container {
    background-position: 80%;
  }

  .banner-text {
    font-size: 4rem;
  }
}

@media (max-width: 767px) {
  /* Landing Page 767*/

  .banner-container {
    background-position: 30%;
  }

  .banner-text {
    font-size: 3.75rem;
  }

  /* NAVBAR */

  .desktop-showup {
    display: none;
  }

  .navbar-collapse {
    background-color: #272727;
    position: absolute;
    top: 0;
    left: 0;
    height: 105vh;
    width: 100vw;
    min-width: 22.5rem;
    padding: 0;
    margin: 0;
    z-index: 100;
  }

  .navbar-nav {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .nav-link {
    color: white;
    font-family: "Anton";
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 6rem;
    text-align: center;

    margin: 1rem;
  }

  .navbar-toggler {
    border: solid 3px red ;
  }

  .navbar-brand {
    padding-left: 1rem;
  }

  #toggle-button {
    color: white;
    font-family: "Anton";
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 6rem;
    text-align: center;
    transition: all 0.2s ease-in-out;
    border: none;
  }

  #toggle-button:active {
    color: #930000;
  }

  #toggle-button:hover {
    color: #930000;
  }

  .active-logo-navbar {
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-width: 15.625rem;
    padding-top: 25%;
  }
}

/* menu Card */

.product-card-menu-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 20.125rem;
  height: 6.5rem;
  border: solid 1px #b1b1b1;
  overflow: hidden;
}
.product-card-title-description {
  font-family: Kanit;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}
.product-card-title {
  font-weight: 400;
}
.product-card-description {
  font-weight: 300;
}

.img-menu {
  width: 100%;
}

@media (max-width: 540px) {
  /* Landing page 540 */
  .banner-container {
    background-position: 60%;
  }

  .banner-text {
    font-size: 2.625rem;
  }
}

@media (max-width: 500px) {
  .banner-text {
    font-size: 2.2rem;
  }
}
